<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera</h5>
        <p class="card-text">50,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera</h5>
        <p class="card-text"> 55,00 Reais.</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt=" class="card-img-top alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera</h5>
        <p class="card-text">60,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO. </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <a href = "/produto">
      <img src="https://images.tcdn.com.br/img/img_prod/343949/caneca_branca_de_porcelana_325ml_1142_1_dc218a647a75119523e2ad9d96c696f1_20230517112613.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camera </h5>
        <p class="card-text">35,00 Reais</p>
        <p class="letrinhas">Esse produto é considerado EXCLUSIVO.  </p>
      </a>
      </div>
    </div>
  </div>

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
