.body{
    background: #865596;
}


.card{
height: 450px;
width: 360px;
text-align: center;
}

.icard-img-topmage{
 height: 300px;
 width: 250px;
}

.letrinhas{
    padding: 5px;
    font-size: 15px;
    font-family:'Paprika', sans-serif;
    color: #865596;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

