ul.product{
list-style-type: nome;
padding: 0;
display: grid;
justify-content: space-between;
align-items: center;
width: 100%;
}

.title{
  font-sinze: 36px;
  color: #865596;
  text-align: cennter;
  margin-bottom: 15px;
  animation: changeColor 3s linear infinite;
}

.button{
  
}